
.App {
    text-align: center;
  }
  
  .container-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    justify-content: center;
  }
  
  .container {
    border-radius: 5px;
    border-style: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 10px;
    width: 400px;
    height: 150px;
    background-color: rgba(255, 255, 0, 0.329);
  }
.container img{
    width: 100%;
    border-radius: 10px 10px 0 0; 
}
.contenedorImagen{
    
    margin-bottom: 30px;
}