 

.App{
  margin-top: 30px;
}
.container-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre las tarjetas */
  }
  
  .container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px; /* Ajusta el tamaño de la tarjeta */
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }

  button.tomarPedido.disabled {
    background-color: rgba(0, 123, 255, 0.5);
    color: rgba(255, 255, 255, 0.7);        
    cursor: not-allowed;                      
  }
  
  button.tomarPedido:disabled {
    background-color: rgba(0, 123, 255, 0.5); 
    color: rgba(255, 255, 255, 0.7);        
    cursor: not-allowed;                      
    border: none;                            
  }
  
  button.tomarPedido.disabled {
    background-color: rgba(0, 123, 255, 0.5);
    color: rgba(255, 255, 255, 0.7);          
    cursor: not-allowed;                      
  }
  
  button.tomarPedido:disabled {
    background-color: rgba(0, 123, 255, 0.5); 
    color: rgba(255, 255, 255, 0.7);
    cursor: not-allowed;
    border: none; 
  }


  button.tomarPedido:disabled {
    background-color: rgba(0, 123, 255, 0.5); 
    color: rgba(255, 255, 255, 0.7);
    cursor: not-allowed;
    border: none; 
  }

  button.tomarPedido.libre {
    background-color: rgba(255, 0, 0, 0.5);   
    color: rgba(255, 255, 255, 0.7);          
    cursor: not-allowed;
  }
  
  
/*   .container:hover {
    transform: scale(1.05);
  } */
  
  .contenedorImagen {
    margin-bottom: 15px;
  }
  
  .contenedorImagen img {
    width: 100%;
    border-radius: 10px;
  }
  
  .tomarPedido {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .tomarPedido:hover {
    background-color: #0056b3;
  }
  
  
/* Nuevos Estilos */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px; /* Máximo ancho reducido */
    max-height: 80vh; /* Máxima altura para evitar que se salga de la pantalla */
    overflow-y: auto; /* Habilita el scroll si el contenido es demasiado alto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    position: relative;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select,
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"],
  button[type="button"] {
    background-color: #28a745; /* Verde */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #218838; /* Verde más oscuro al hacer hover */
  }
  
  button[type="button"]:disabled {
    background-color: #ccc; /* Gris para botones deshabilitados */
    cursor: not-allowed;
  }
  
  div > div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  div > div select {
    flex-grow: 1;
  }
  
  div > div input[type="number"] {
    width: 60px;
  }
  
  div > div button {
    background-color: #dc3545; /* Rojo para el botón de eliminar */
  }
  
  div > div button:hover {
    background-color: #c82333;
  }
  
  div > span {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    display: block;
    text-align: right;
  }
  .rojo{
    color: red;
  }
 /* Estilos de card */ 
  